* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #050816;
    color: white;
}

.background {
    position: fixed;
    inset: 0;
    z-index: -2;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: linear-gradient(90deg, rgba(2, 5, 20, 0.95) 20%, transparent);
}

.main {
    padding: 30px 50px;
}

.navbar{
    display:flex;
    justify-content:center;
    gap:50px;
    margin-bottom:35px;
}

.navbar a{
    text-decoration:none;
    color:white;
    font-size:17px;
    position:relative;
}

.navbar a::after{
    content:'';
    position:absolute;
    left:0;
    bottom:-8px;
    width:0%;
    height:2px;
    background:#ff0000;
    transition:0.3s;
}

.navbar a:hover::after{
    width:100%;
}

.hero {
    height: 400px;
    border-radius: 28px;
    padding: 40px;
    display: flex;
    align-items: flex-end;
    background: url('https://images.unsplash.com/photo-1510414842594-a61c69b5ae57') center/cover;
    position: relative;
}

.title h2 {
    font-size: 60px;
}

.section-card {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 20px;
}

.section-title i {
    color: #22c55e;
}



.hero-content a {
    
  
    padding: 12px 30px;
    background: #22c55e;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 600;
    transition: 0.3s;
    
   
} 